<main class="main main-home">
    <div class="main-home__header">
        <div class="main-home__white-bg"></div>
        <div class="container">
            <h1 class="main-home__title">Professional consulting <br />for your business <br />in Russia</h1>
            <div class="button-list">
                <a href="/" class="button-to-action">Our services</a>
                <a href="/" class="button-to-action button-to-action_fill">Request help</a>
            </div>

        </div>
    </div>

    <%- partial('commons/advantages') %>
    <%- partial('commons/call-to-action') %>

    
</main>