<!doctype html>
<html lang="<%= config.language %>">

  <%- partial('commons/head') %>

<body>
  <%- partial('commons/header') %>
  <%- body %>
  <footer class="footer">

  </footer>


  <script src="/assets/js/commons.js"></script>
</body>

</html>