<div class="call-to-action">
    <div class="container">
        <h2 class="call-to-action__title">Want to expand your business to Russia?</h2>
        <a href="#" class="call-to-action__button">Help request</a>
    </div>
</div>