<nav class="main-menu">
    <a href="#" class="main-menu__item">Our team</a>
    <a href="#" class="main-menu__item">Services</a>
    <a href="#" class="main-menu__item">FaQ</a>
    <a href="#" class="main-menu__item">Prices</a>
    <a href="#" class="main-menu__item">Contacts</a>
</nav>