<div class="top-panel">
    <div class="top-panel__item">
        <%- partial('commons/svg-sprite-element', {icon: "mail", cssSelector: "top-panel__icon"}) %>
        <a href="mailto:info@russia-id.ru" class="top-panel__link">info@russia-id.ru</a>
    </div>
    <div class="top-panel__item">
        <%- partial('commons/svg-sprite-element', {icon: "phone", cssSelector: "top-panel__icon"}) %>
        <span class="top-panel__text">+7 (965) 240-13-16</span>
    </div>

</div>